<div class="container-fluid">
  <div class="row">
    <img src="https://raw.githubusercontent.com/VivianGomez/ImagenesParcialDSE/main/anime%20Logo.png" class="img-fluid img-thumbnail" alt="Responsive image" >
  </div>
</div>
<div *ngIf="selected">
  <app-anime-detail [animeDetail]="selectedAnime"></app-anime-detail>
 </div>
 
 <hr />

<div class="container-fluid">
  <div class="row">
    <p class="text-left">
      la cantidad total de episodios es {{episodiostotales}} y el rating promedio es {{promedio}}
    </p>
  </div>
  <div class="row">
    <div class="col mb-2" *ngFor="let anime of animes">
      <div class="card p-2" style="width: 15rem; height: 33rem">
        <h5 class="card-title">{{anime.name }}</h5>
        <img
          class="card-img-top"
          src="{{ anime.img }}"
          alt="{{anime.img }}"
        />
        <div class="card-body">
          <p class="card-text">[{{ anime.categorie}}]</p>
          <a href="#" class="btn btn-primary" (click)="onSelected(anime)">More information</a>
        </div>
      </div>
    </div>
  </div>
</div>
